.bg_auth {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Googly_Banners_3.png?v=1717098445");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
