.heroSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/hero-home.jpg?v=1714088869");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
